%h1 Books
%table
  %thead
    %tr{:class => "header"}
      %th
        Name
      %th
        Author
      %th
        Publication
      %th
        Description
    %tbody
    - @books.each do |book|
      %tr
        %td= book.name
        %td= book.author
        %td= book.publications
        %td= book.description